.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 0 0 0 0;
  overflow: hidden;
}


.tab-view {
  display: flex;
  font-family: "Open Sans", sans-serif;

  margin-top: 40px;
  margin-bottom: 40px;

  cursor: pointer;
  width: auto;
  border: 1px solid rgb(77, 77, 77);

  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.hide-content {
  display: none;
}

.activeTab {
  background-color: #9b69eb;
}

.commonTab {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  height: 0px;
  border-radius: 20px;
  transition: background-color 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.projects-title {
  font-size: 1.5rem;
  font-family: "Baloo Paaji 2", cursive;

  font-weight: 700;
  color: #695aa6;
  text-align: center;
  margin: 0 auto;
  padding: 0 0 0 0;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-description h6 {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  color: black;
  text-align: center;
  margin: 0 0;
  padding: 0 0 0 0;
  align-items: center;
  justify-content: center;
}

.projects {
  display: flex;
  width: 90%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-bottom: 40px;
  padding: 0 0 0 0;
}

.projects-common {
  width: 350px;
  height: 300px;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
}

.projects-common a {
  text-decoration: none;
  color: black;
}

.projects-common img {
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 250px;
}
a {
  text-decoration: none;
}

.SeeallButton button,
.music-div button {
  height: 45px;
  font-size: 20px;
  width: 140px;
  font-family: "Bakbak One", cursive;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.6s;
  border-color: #545ad3c3;
  border-width: 3px;
  background: white;
}

.SeeallButton button:hover {
  background-color: #ffffffe1;
  box-shadow: 0px 0px 5px 3px #6e73dbc3;
}

.SeeallButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.music-div {
  position: absolute;
  font-weight: 500;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  overflow: hidden;
  color: black;
  bottom: -180px;
  transition: all 0.5s ease-in;
}

.music-div p {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.projects-common:hover .music-div {
  bottom: 0px;
  background: transparent;
  background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
}

.music-div button {
  color: white;
  background: transparent;
}

.xyz {
  color: #000000;
  background: transparent;
}

.music-div button:hover .xyz {
  color: white;
}

.music-div button:hover {
  border-color: white;
}

.music-div h1 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #000000;
  background: transparent;
}

.SeeallButton {
  margin-top: 50px;
  margin-bottom: 100px;
}

.education-heading {
  font-size: 4.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1024px) {
  .projects {
    height: 100%;
    padding-bottom: 0.5px;
  }
}

@media only screen and (max-width: 425px) {
  .projects {
    height: 100%;
    padding-bottom: 0.5px;
    margin-bottom: 0px;
    /* padding-bottom: 0px; */

  }
  .SeeallButton{
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .projects-title h1 {
    font-size: 35px;
  }
  .projects-common {
    width: 300px;
    height: 250px;
  }

  .music-div {
    bottom: -165px;
  }
  .tab-view{
    width: 350px;
    margin-top: 10px;
  }
}


@media only screen and (max-width: 768px) {
  .SeeallButton{
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .projects {
    height: 100%;
    width: 100%;
    padding-bottom: 0.5px;
    margin-bottom: 0px;
    /* padding-bottom: 0px; */

  }

}